.worldDiv {
    display: grid;
}

.areaDiv {
    background-color: green;
    background-size: cover;
    display: none;
}

.active {
    display: block;
    background-color: green;
}

.invisible {
    visibility: hidden !important;
}

.start {
    background-color: black !important;
}

.end {
    background-color: black !important;
}

.straight {
    background-image: url(./other/straight.png);
}

.curve {
    background-image: url(./other/curve.png);
}

.crossing {
    background-image: url(./other/crossing.png);
}

.car {
<<<<<<< HEAD
    position: absolute;
=======
<<<<<<< HEAD
    position: absolute;
=======
    background-image: url(./other/car.png);
    background-size: cover;
    position: fixed;
>>>>>>> bb5310c018a2c77fbc472d1804e77432867b9714
>>>>>>> f0b2c892ef61a523756b4624290f67a4c45b6826
}